.slider-wrap{
	position: relative;
	overflow: hidden;
	height: 500px;
}
.slider-main{
	position: absolute;
	width: 154%;
}
.item{
	width: 328px;
	display: inline-block;
	position: relative;
	height: 500px;
	margin: 15px;
}
.image{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 20px;
	color: #fff;
	font-weight: bolder;
}
.button_area{
	position: absolute;
	left: 48%;
	margin-bottom: 6px;	
	top: 267%;
}
.slider-btn{
	border: none;
	outline: none;
	font-size: 24px;
	color: #fff;
	border-radius: 50%;
	padding: 2px 15px;
	background: #9d1a1a;
	border: 2px dashed #9d1a1a;
	transition: 0.4s;
}
.slider-btn:hover{
	background:#fff;
	color: #9d1a1a;
}
.image{
	transition: width height 0.2s ease;
}
.image:hover{
	width: 350px;
	height:550px;
}
.grid-container{
	display: grid;
	grid-template-columns: auto auto auto;
	padding: 10px;
}
.grid-item{
	/*background-color: rgba(255, 255, 255, 0.8);*/
	/*border: 1px solid rgba(0, 0, 0, 0.8);*/
	padding: 5px;
	font-size: 30px;
}
.title .caption{
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
    font-family: 'Montserrat', sans-serif;
	/*width: 100%;*/
	text-align: center;
    font-size: 16px;
    font-weight: 500;
	position: absolute;
    padding: 10px 10px;
}
.picture{
	background-image: url("/Kerala Project/img/sunset.jpg");
}
.w3-left, .w3-right, .w3-badge {
		cursor:pointer
	}
.w3-badge {
		height:13px;
		width:13px;
		padding:0
	}